.intro-message {
    color: white;
    margin: 0 auto;
    text-align: left;
    width: fit-content;
    font-size: clamp(3rem, 5vw, 4.55rem);
    font-family: "Poppins", sans-serif;
    white-space: nowrap;

    text-transform: lowercase;

    padding: 0rem 1rem;
}

.intro-message .blue {
    color: hsla(216, 93%, 57%);
}

.intro-message .blue .letter {
    display: inline-block;
    line-height: 1em;
}

.intro-message .red {
    color: hsla(360, 82%, 60%);
}

.intro-message .red .letter {
    display: inline-block;
    line-height: 1em;
}

.intro-message .yellow {
    color: hsla(43, 87%, 68%);
}

.intro-message .yellow .letter {
    display: inline-block;
}

.intro-message .green {
    color: hsla(108, 75%, 45%);
}

.intro-message .green .letter {
    display: inline-block;
}

.top-message .text-wrapper {
    position: relative;
    display: inline-block;
}

.top-message .text-wrapper .name {
    color: yellow;
}

.top-message .line {
    opacity: 0;
    position: absolute;
    left: 0;
    height: 100%;
    width: 4.5px;
    background-color: #fff;
    transform-origin: 0 50%;
    top: 0;
}

.top-message .top-letters {
    display: inline-block;
}

.body-message {
    white-space: nowrap;
}

.body-message p {
    margin: 1rem 0;
}
