.intro-message {
    color: white;
    margin: 0 auto;
    text-align: left;
    width: fit-content;
    font-size: clamp(3rem, 7vw, 4.55rem);
    font-family: "Cabinet Grotesk", sans-serif;

    white-space: nowrap;

    text-transform: lowercase;

    padding: 0rem 1rem;

    height: 100vh;
    max-height: 1000px;
}

.intro-message .blue {
    color: hsla(215, 82%, 60%);
}

.intro-message .blue .letter {
    display: inline-block;
    line-height: 1em;
}

.intro-message .red {
    color: hsla(360, 82%, 60%);
}

.intro-message .red .letter {
    display: inline-block;
    line-height: 1em;
}

.intro-message .yellow {
    color: hsla(40, 82%, 60%);
}

.intro-message .yellow .letter {
    display: inline-block;
}

.intro-message .green {
    color: hsla(100, 82%, 60%);
}

.intro-message .green .letter {
    display: inline-block;
}

.top-message .text-wrapper {
    position: relative;
    display: inline-block;
}

.top-message .text-wrapper .name {
    color: yellow;
}

.top-message .line {
    opacity: 0;
    position: absolute;
    left: 0;
    height: 100%;
    width: 4.5px;
    background-color: #fff;
    transform-origin: 0 50%;
    top: 0;
}

.top-message .top-letters {
    display: inline-block;
}

.body-message {
    white-space: nowrap;
}

.body-message p {
    margin: 1rem 0;
}
