.projects {
    padding: 0 1rem;
    margin: 0 2rem;
    color: white;

    text-transform: lowercase;
}

.projects .title {
    font-size: 1.3rem;
    color: hsla(216, 93%, 57%);
    font-size: 14px;
    font-size: clamp(3rem, 5vw, 4.55rem);
    font-family: "Cabinet Grotesk", sans-serif;
    font-weight: bold;

    margin: 0;
}

.projects .container {
    outline: 1px solid wihte;
}

.project-card {
    font-size: 1.6rem;
    width: 35rem;
    font-weight: bold;
    font-family: "Satoshi", sans-serif;
}
