.projects {
    color: white;

    text-transform: lowercase;
}

.projects .title {
    color: hsla(360, 82%, 60%);
    font-weight: bold;
    margin: 0;
}

.projects .container {
    outline: 1px solid wihte;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.project-card {
    width: 200px;
    height: 200px;
    background-color: whitesmoke;
}
